
/* 霧飄 */
.cloud_amimate{
	position: absolute;
	width:  100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	overflow: hidden;
}
.cloud_amimate li{
	position: relative;
	width:  300%;
	height: 100%;
	flex: none;
	background:  url('../images/clouds.png')repeat-x center/cover;
	-webkit-animation: cloudLoop 15s linear infinite;
	animation: cloudLoop 15s linear infinite;
	opacity: 0;
}
@keyframes cloudLoop {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%);
	}
	20%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-75%);
		transform: translateX(-75%);
	}
}
/* 霧飄 */
