body{
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
*{
	will-change: transform;
}
/* share use start*/
.mod_font_en{
	font-family: 'Abril Fatface', cursive;
}
.mod_bigtxt {
	font-size: 53px;
	font-weight: bold;
	margin-bottom: 10px;
}
.mod_midtxt {
	position: relative;
	font-size:36px;
	font-weight: bold;
}
.mod_minitxt {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
.txt_shadow{text-shadow: 1px 0px #000, 1px 1px 1px #000;}
[class*="_btn"]:not(:disabled),
.second_menu li{cursor: pointer;}
/* 漸層 */
.gradient {
	position: relative;
	color: transparent;
	text-shadow: 1px 0px #000, 1px 1px 1px #000;
}
.gradient::before{
	position: absolute;
	content: attr(data-title);
	background: linear-gradient(135deg,  rgba(255,255,195,1) 40%,rgba(240,213,122,1) 83%,rgba(204,148,92,1) 100%);
	text-shadow: none;
	-webkit-background-clip: text;

}
.unScroll{overflow: hidden;}
/* share use end*/

.header {
	width: 100%;
	height: 60px;
	display: flex;
	background: #071121;
	opacity: 0.9;
	color: #fff;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.header.active{
	background-color: rgba(0,0,0,.8);
}
.logo {
	position: relative;
	width: 135px;
	height: 60px;
	background: url('../images/logo_v2.png')no-repeat center/contain;
}
.logo.logo_title{
	background: url('../images/logo_title.png')no-repeat center/contain;
}
.logo::before,
.logo::after{
	content:'';
	position: absolute;
	display: block;
	width: 21px;
	height: 20px;
	background: url('../images/logo_light.png')no-repeat center/contain;
	animation: logo_star 4s infinite alternate;
}
.logo.logo_title::before{
	top: 9px;
	left: 19px;
}
.logo.logo_title::after{
	top: 13px;
	left: 100px;
}
.menu_panel{
	height: 100%;
}
.menu {
	display: flex;
	height: 100%;
	align-items: center;
}
.menu li {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	height: 100%;
	line-height: 60px;
	text-shadow: 1px 1px #000;
}
.menu > li:not(:first-child)::after{
	content: '';
	display: block;
	width: 0%;
	height: 3px;
	background-color: #dffafe;
	box-shadow: 0px 0px 2px 1px rgba(7, 135, 227,0.6), 0px 0px 4px 3px rgba(7, 135, 227,0.4);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	transition: 0.5s;
}
.menu li.logo_title{display: none;}
.menu>li+li {
	padding: 0 18px;
}
.menu>li:last-child {
	padding: 0 18px 0 38px;
}
.menu a{width: 100%; height: 100%;}
.lang_txtbox tt{position: relative;}
.lang_txtbox tt::before{
	content:'';
	display: block;
	width: 15px;
	height: 15px;
	background: url('../images/icon_lang.svg')no-repeat center/cover;
	position: absolute;
	right: calc(100% + 5px);
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.lang_txtbox tt::after{
	content:'\25BE';
	position: absolute;
	left:calc(100% + 5px);
	top: 0;
}
.lang_txt{display: block;}
.menu>li:last-child span{
	position: relative;
	display: inline-block;
}
.lang_title{display: none;}

.second_menu {
	position: absolute;
	width: 100%;
	top: calc(100% + 5px);
	left: 0;
	background: #0b1425;
	box-shadow: 2px 2px 5px 1px #000;
	z-index: 10;
	border-radius: 3px;
	opacity: 0;
	visibility: collapse;
	-webkit-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transition:all 300ms cubic-bezier(.55,0,.42,1);
	-ms-transition:all 300ms cubic-bezier(.55,0,.42,1);
	transition:all 300ms cubic-bezier(.55,0,.42,1);
	z-index: 2;
}
.lang.on .second_menu{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.second_menu>li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	transition: .2s;
	text-align: center;
}
.second_menu > li:hover{
	color: #07bceb;
	font-size: 15px;
}
.sign{
	position: relative;
	width: 100%;
	min-height: 700px;
	padding-bottom: calc(100% * 0.52);
	background: url('../images/home1.jpg')no-repeat center/cover;
	animation: sign_bg 1.5s forwards;
	overflow: hidden;
	animation-play-state: paused;
}
@keyframes sign_bg{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.sign_info {
	position: absolute;
	width: 100%;
	top: 25%;
	left: 10%;
}
.sign_info .mod_midtxt{
	color: #fff;
	padding-left: 50px;
	transform: translateX(-10%);
	opacity: 0;
	animation: sign_info .5s forwards 2s;
	animation-play-state: paused;
}
@keyframes sign_info{
	0%{
		opacity: 0;
		transform: translateX(-10%);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
.sign_txt{
	position: relative;
	width: 0px;
	max-width: 600px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/home_txtbg.png')no-repeat center/cover;
	margin-top: 70px;
	-webkit-animation: sign_txtbg 1.5s forwards 2s;
	animation: sign_txtbg 1.5s forwards 2s;
	animation-play-state: paused;
}
@keyframes sign_txtbg{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
.sign_txt::before{
	content:'';
	width: 160px;
	height: 90px;
	position: absolute;
	top: -45px;
	left: 100px;
	background: url('../images/home_txt.png')no-repeat center/contain;
	animation: sign_txt_animate .7s both 2.5s;
	animation-play-state: paused;
}
@keyframes sign_txt_animate {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.sign_txt ul{
	opacity: 0;
	line-height: 25px;
	transform: translateX(-10%);
	animation: sign_ul .7s forwards 2.5s;
	animation-play-state: paused;
}
@keyframes sign_ul{
	0%{
		opacity: 0;
		transform: translateX(-20%);
	}
	100%{
		opacity: 1;
		transform: translateX(0%);
	}
}
.active.sign,
.active .sign_info .mod_midtxt,
.active .sign_txt,
.active .sign_txt::before,
.active .sign_txt ul{
	animation-play-state:running;
}

.sign_txt li:not(.title){
	position: relative;
	font-size: 18px;
}
.sign_txt li:not(.title)::before{
	content:'';
	width: 3px;
	height: 3px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	right: calc(100% + 5px);
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.sign_txt li.title{
	text-align: right;
	font-size: 22px;
	margin-bottom: 10px;
}
.banner {
	position: relative;
	width: 100%;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.banner_btn{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url('../images/icon_prev.svg')no-repeat center/cover;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.banner_btn.prev{
	left: 10px;
}
.banner_btn.next{
	right: 10px;
	background-image: url('../images/icon_next.svg');
}

.banner_bigtxt{
	font-size: 38px;
	font-weight: 900;
	margin-bottom: 20px;
}
.banner_midtxt{
	position: relative;
	font-size: 24px;
	margin-bottom: 5px;
}
.banner_minitxt{
	position: relative;
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
}
.banner_group{
	width: 100%;
	display: flex;
	transform: translateX(0%);/*0~-300%*/
}
.banner_item{
	position: relative;
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding:0 0 40px 150px;
}
.banner_txtbox{
	width: 45%;
	text-shadow:1px 0 1px #fff;
}
.banner_item1{
	padding: 0 80px 40px 0;
}
.banner_item4 .banner_bigtxt,
.banner_item1 .banner_bigtxt ,
.banner_item2 .banner_bigtxt{
	opacity: 0;
	transform: translateY(-20px);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
}
.active.banner_item4 .banner_bigtxt,
.active.banner_item1 .banner_bigtxt,
.active.banner_item2 .banner_bigtxt {
	opacity: 1;
	transform: translateY(0);
}
.banner_item4 .banner_midtxt,
.banner_item1 .banner_midtxt,
.banner_item2 .banner_midtxt {
	opacity: 0;
	transform: translateY(-20px);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
}
.active.banner_item4 .banner_midtxt,
.active.banner_item1 .banner_midtxt,
.active.banner_item2 .banner_midtxt{
	opacity: 1;
	transform: translateY(0);
}

.banner_item4 .banner_minitxt,
.banner_item1 .banner_minitxt ,
.banner_item2 .banner_minitxt {
	opacity: 0;
	transform: translateY(-20px);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
}
.active.banner_item4 .banner_minitxt,
.active.banner_item1 .banner_minitxt,
.active.banner_item2 .banner_minitxt {
	opacity: 1;
	transform: translateY(0);
}
.banner_pic{
	position: relative;
	width: 55%;
	display: flex;
	justify-content: center;
	padding-bottom: calc( 50% * 0.84642857);
}
.banner_pic img{
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.banner_item4 .banner_pic{
	background: url('../images/bg_banner01.png')no-repeat 0px 0px/ cover;
}
.banner_item4 .banner_pic:after{
	content:'';
	width: 100%;
	height: 100%;
	background: url('../images/bg_banner02.png')no-repeat bottom right/cover;
}

img.pic_peopel1{
	height: 90%;
	top: 30%;
	right: 20%;
	bottom: 0;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
}
.bg_banner02{
	height: auto;
}
.active.banner_item4 .pic_peopel1{
	opacity: 1;
	top: 20%;
}
img.pic_peopel2{
	height: 75%;
	top: -5%;
	right: 35%;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) .5s;
}
.active.banner_item4 .pic_peopel2{
	opacity: 1;
	right: 50%;
}
img.pic_peopel3{
	height: 90%;
	top: -5%;
	right: 10%;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) .5s;
}
.active.banner_item4 .pic_peopel3{
	opacity: 1;
	right: -5%;
}

img.pic_peopel4{
	height: 85%;
	top:-8%;
	left: 35%;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) .5s;
}
.active.banner_item4 .pic_peopel4{
	opacity: 1;
	top: -25%;
}
.banner_item1{
	background: url('../images/bg_banner02.jpg')no-repeat left center / 55%;
}
.banner_item1 .banner_pic{
	opacity: 0;
	transition: all .6s cubic-bezier(0.55, 0, 0.42, 1) 0s;
}
.active.banner_item1 .banner_pic{
	opacity: 1;
}
.txt_icon{
	display: flex;
	margin: 15px 0;
}
.txt_icon li{
	width: 55px;
	height: 55px;
	flex: none;
	border-radius: 50%;
	border: 2px solid rgb(4,134,205);
	opacity: 0;
	transform: translate(-70%, -100%);
}
.txt_icon li+li{
	margin-left: 15px;
}
.txt_icon li:nth-child(1){
	background: url('../images/icon_b2_1.svg')no-repeat center/ 70%;
	transition: all .2s cubic-bezier(0.55, 0, 0.42, 1) ;
}
.txt_icon li:nth-child(2){
	background: url('../images/icon_b2_2.svg')no-repeat center/ 70%;
	transition: all .2s cubic-bezier(0.55, 0, 0.42, 1) .2s;
}
.txt_icon li:nth-child(3){
	background: url('../images/icon_b2_3.svg')no-repeat center/ 70%;
	transition: all .2s cubic-bezier(0.55, 0, 0.42, 1) .4s;
}
.txt_icon li:nth-child(4){
	background: url('../images/icon_b2_4.svg')no-repeat center/ 70%;
	transition: all .2s cubic-bezier(0.55, 0, 0.42, 1) .6s;
}
.txt_icon li:nth-child(5){
	background: url('../images/icon_b2_5.svg')no-repeat center/ 70%;
	transition: all .2s cubic-bezier(0.55, 0, 0.42, 1)  .8s;
}
.active.banner_item1 .txt_icon li{
	transform: translate(0, 0);
	opacity: 1;
}
img.pic_cell1{
	height: 23%;
	top: 59%;
	left: 0;
	right:0;
	margin: auto;
}
img.pic_cell2{
	height: 54%;
	top: 16%;
	left: 10%;
	opacity: 0;
	transform: translate(40% , 30%) scale(.2);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1) .3s;
}
.active.banner_item1 img.pic_cell2{
	opacity: 1;
	transform: translate(0,0) scale(1);
}
img.pic_cell3{
	height: 57%;
	top: -5%;
	left: 48%;
	opacity: 0;
	transform: translate(-40% , 40%) scale(.2);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1) .3s;
}
.active.banner_item1 img.pic_cell3{
	opacity: 1;
	transform: translate(0,0) scale(1);
}
img.pic_cell4{
	height: 43%;
	top: 21%;
	left: 55%;
	transform: translate(-40% , 30%) scale(.2);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1) .3s;
}
.active.banner_item1 img.pic_cell4{
	opacity: 1;
	transform: translate(0,0) scale(1);
}
.banner_item2{
	position: relative;
	justify-content: space-around;
	padding-right: 60px;
	background: url('../images/bg_banner03.jpg')no-repeat right center/55%;
}
.banner_item2 .banner_txtbox{
	width: 40%;
	max-width: 500px;
}
.banner_item2 .banner_pic{
	position: relative;
	opacity: 0;
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
	
}
.banner_item2:after{
	content:'';
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url('../images/banner03_cloud.png')no-repeat center/contain;
}
.active.banner_item2 .banner_pic{
	opacity: 1;
}

img.icon_poker1,
img.icon_poker2,
img.icon_poker3,
img.icon_poker4{
	height: 45%;
	top: 5%;
	right: 32%;
	transform: rotate(0deg);
	transform-origin: center bottom;
	margin: 0;
	transition: all .5s ease .3s;
}
.active .icon_poker1{
	height: 50%;
	transform: rotate(30deg);
}
.active .icon_poker2{
	height: 50%;
	transform: rotate(45deg);
}
.active .icon_poker3{
	height: 50%;
	transform: rotate(60deg);
}
.active .icon_poker4{
	height: 50%;
	transform: rotate(75deg);
}
.banner_item3{
	background: url('../images/bg_banner04.jpg')no-repeat center / cover;
	flex-wrap: wrap;
	padding-left: 0;
	justify-content: center;
}
.banner_item3 .left_txt{
	opacity: 0;
	transform: translateX(-20px);
	transition: all 400ms cubic-bezier(0.55, 0, 0.42, 1) .3s;
	width: 100%;
	text-align: center;
}
.active.banner_item3 .left_txt{
	opacity: 1;
	transform: translateX(0);
}
.banner_item3 .banner_minitxt{
	opacity: 0;
	transform: translateX(20px);
	transition: all 400ms cubic-bezier(0.55, 0, 0.42, 1) .3s;
}
.active.banner_item3 .banner_minitxt{
	opacity: 1;
	transform: translateX(0);
}
.banner_item3 .banner_pic{
	padding-bottom: calc( 40% * 0.84642857);
	transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
}
.banner_item3 .banner_txtbox{
	width: 100%;
	display: flex;
	padding: 0 80px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.banner_item3 .banner_pic{
	opacity: 0;
}
.banner_item3.active .banner_pic{
	opacity: 1;
}
.pic_cell01{
	position: relative;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
	transition-delay: .1s;
}
.pic_cell02{
	left: 40%;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
	transition-delay: .3s;
}
.pic_cell03{
	right: 40%;
	transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
	transition-delay: .3s;
}
.banner_item3.active .pic_cell02{
	left: 15%;
}
.banner_item3.active .pic_cell03{
	right: 15%;
}

.banner_item3 .banner_minitxt{
	width: 50%;
}

.banner_dots{
	position: absolute;
	padding: 10px 0;
	width: 100%;
	display: flex;
	bottom: 0;
	justify-content: center;
}
.banner_dots li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #000;
	transition: .2s;
}
.banner_dots li+li{
	margin-left: 20px;
}
.banner_dots li.on{
	background: #000;
	cursor: default;
}

.product {
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.product_inf {
	position: relative;
	display: flex;
	width: 100%;
	padding: 135px 30px;
	align-items: center;
	overflow: hidden;
}
.product_txt{
	position: relative;
	flex: 0 0 50%;
	height: 100%;
	display: flex;
	padding: 0 50px 0 120px;
	flex-direction: column;
	justify-content: center;
}
.product_txt .mod_midtxt,
.service .mod_midtxt{
	margin-bottom: 30px;
}
.product_txt .mod_midtxt,
.product_txt .mod_minitxt {
	color: #000;
}
.product_pic {
	position: relative;
	flex: 0 0 50%;
	right: 0;
	padding-bottom: calc(50% * 0.5);
	z-index: 1;
}
.product_pic img{
	vertical-align: middle;
	position: absolute;
	
}
.product_p1{
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
	width: 35%;
}
.product_p2{
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto ;
	width: 40%;
}
.product_p3{
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
	width: 45%;
}
.game_box{
	width: 100%;
	overflow-X:auto;
	overflow-y: hidden;
	will-change: transform;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
.game_box::-webkit-scrollbar {
	display: none;
}
.game_list {
	width: 100%;
	display: flex;
}
.game_list li {
	position: relative;
	width: calc(100% / 4);
	padding-bottom: calc( 100% / 4 * 1.00985222);
	background: #ccf;
	transition: all 500ms cubic-bezier(.55,0,.42,1);
}
.game_list li:nth-child(1){
	background: url('../images/game-01.jpg')no-repeat center;
	background-size: 101% ;
}
.game_list li:nth-child(2){
	background: url('../images/game-02.jpg')no-repeat center;
	background-size: 101% ;
}
.game_list li:nth-child(3){
	background: url('../images/game-03.jpg')no-repeat center;
	background-size: 101% ;
}
.game_list li:nth-child(4){
	background: url('../images/game-04.jpg')no-repeat center;
	background-size: 101% ;
}
.game_list li::before{
	display: block;
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	top: 0;left:0;right: 0;bottom: 0;
	margin: auto;
	z-index: 5;
	opacity: 0;
	transition: opacity .3s;
}
.game_list li:nth-child(1)::before{
	background-image: url('../images/icon_game_h1.svg');
}
.game_list li:nth-child(2)::before{
	background-image: url('../images/icon_game_h2.svg');
}
.game_list li:nth-child(3)::before{
	background-image: url('../images/icon_game_h3.svg');
}
.game_list li:nth-child(4)::before{
	background-image: url('../images/icon_game_h4.svg');
}

.service{
	position: relative;
	padding: 60px 150px 250px ;
	background: #fff;
	min-height: 600px;
}
.service .mod_minitxt{
	line-height: 26px;
}
.service_pic{
	content:'';
	width: 65%;
	height: 100%;
	background: url('../images/service_pic.jpg')no-repeat right center/contain;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	overflow: hidden;
}
.service_pic::after{
	content:'';
	width: 100%;
	height: 100%;
	background: url('../images/service_pic_light.png')no-repeat right center/contain;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	opacity: 0;
	animation: service_pic_light 2s infinite;
	
}
@keyframes service_pic_light {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.txt_box{
	text-align: left;
	position: relative;
	width: 50%;
}
.sp_btn_box{
	/* 用relative 手機版active按鈕會沒反應 因此使用absolute */
	position: absolute;
	display: flex;
	bottom: 50px;
	-webkit-user-select: none;
	z-index: 2;
}
.game_btn {
	color: #000;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(176,176,176,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(176,176,176,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(176,176,176,1) 100%);
}
.businese_btn{
	color: #fff;
	background: #03000f;
	background: -moz-linear-gradient(to bottom,  #001829 0%,#03000f 100%);
	background: -webkit-linear-gradient(to bottom,  #001829 0%,#03000f 100%);
	background: linear-gradient(to bottom,  #001829 0%,#03000f 100%);
}

.sp_btn{
	position: relative;
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	border-radius: 3px;
	padding: 13px 20px ;
	transition-duration: .3s;
	box-shadow:  0 0 2px #000;
}
.sp_btn+.sp_btn{margin-left: 20px;}
.icon_btn{
	display: inline-block;
	flex: 0 0 35px;
	height: 25px;
	left: 10%;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.btn_inf{
	display: flex;
	transition: transform .3s;
}
.icon_advantages{
	background: url('../images/icon_advantages_b.svg')no-repeat;
}
.icon_process{
	background: url('../images/icon_process_w.svg')no-repeat;
}
.zh_txt{font-size: 24px;}
.txt tt{white-space: nowrap;}

.partner{
	position: relative;
	text-align: center;
	padding: 60px 150px 0;
	overflow: hidden;
	background: url('../images/bg_SP.jpg')no-repeat center top / cover;
}
.partner .mod_midtxt{
	color: #fff;
	margin-bottom: 80px;
}

.partner_ul{
	display: flex;
}
.partner_ul li{
	position: relative;
	width: calc(100% / 4);
	padding: 50px 40px 30px;
	margin: 0 1%;
	background: #1282c3;
	background: -moz-linear-gradient( top,  #1282c3 0%, #04051a 100%);
	background: -webkit-linear-gradient( top,  #1282c3 0%,#04051a 100%);
	background: linear-gradient(to bpttom,  #1282c3 0%,#04051a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1282c3', endColorstr='#04051a',GradientType=1 );
	transition:  .4s ease,opacity .4s ease ,bottom .3s ease;
	transform: translateY(80px);
	opacity: 0;
	z-index: 1;
	bottom: 0;
}
.partner_ul li:nth-child(1){animation: ani_partner .4s 0s linear forwards paused;}
.partner_ul li:nth-child(2){animation: ani_partner .4s .1s linear forwards paused;}
.partner_ul li:nth-child(3){animation: ani_partner .4s .3s linear forwards paused;}
.partner_ul li:nth-child(4){animation: ani_partner .4s .4s linear forwards paused;}
.active .partner_ul li{ animation-play-state: running;}
.partner_ul li::before{
	content:'';
	width: 70px;
	height: 70px;
	position: absolute;
	border-radius: 50%;
	background:rgb(255, 255, 198);
	background:-moz-linear-gradient(-45deg, rgba(255, 255, 198, 1) 0%, rgba(250, 238, 169, 1) 50%, rgba(215, 165, 104, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 198, 1) 0%, rgba(250, 238, 169, 1) 50%, rgba(215, 165, 104, 1) 100%);
	background:linear-gradient(135deg, rgba(255, 255, 198, 1) 0%, rgba(250, 238, 169, 1) 50%, rgba(215, 165, 104, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc6', endColorstr='#d7a568', GradientType=1);
	left: 0;
	right: 0;
	top: 0;
	transform: translateY(-50%);
	margin: 0 auto;
	transition: all .2s;
}
.partner_ul li::after{
	content:'';
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	transform: translateY(-50%);
	margin: 0 auto;
	transition: all .2s;
}
.list_num{
	font-size: 60px;
	color: #fff;
}
.list_txt{
	color: #fff;
	font-size: 21px;
	margin-bottom: 30px;
	line-height: 26px;
}
.partner_ul li:nth-child(1)::after{
	background: url('../images/icon_white.svg') no-repeat center/50% ;
}
.partner_ul li:nth-child(2)::after{
	background: url('../images/icon_open.svg') no-repeat center/50%;
}
.partner_ul li:nth-child(3)::after{
	background: url('../images/icon_update.svg') no-repeat center/50%;
}
.partner_ul li:nth-child(4)::after{
	background: url('../images/icon_line.svg') no-repeat center/50%;
}
.partner_pic{
	position: relative;
	display: flex;
	margin-top: 50px;
	padding: 0 50px;
	flex-wrap: wrap;
}
.partner_pic li{
	position: relative;
	width: calc( 100% / 8);
	padding-bottom: calc(100% / 8 * 0.22222222);
	margin-bottom: 50px;
}
.partner_pic img{
	position: absolute;
	height: 100%;
	left: 0;right: 0;
	margin: 0 auto;
}

.sop{
	position: relative;
	display: flex;
	height: 50px;
	padding: 10px 15px;
	font-size: 20px;
	background: #f9f8c4;
	background: -moz-linear-gradient(left,  #f9f8c4 40%, #ebd179 83%, #c7915c 100%);
	background: -webkit-linear-gradient(left,  #f9f8c4 40%,#ebd179 83%,#c7915c 100%);
	background: linear-gradient(to right,  #f9f8c4 40%,#ebd179 83%,#c7915c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8c4', endColorstr='#c7915c',GradientType=1 );
	border-radius: 50px;
	justify-content: center;
	align-items: center;
}
.sop::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #2d3b66;
	background: -moz-linear-gradient(left,  #2d3b66 0%, #000000 100%);
	background: -webkit-linear-gradient(left,  #2d3b66 0%,#000000 100%);
	background: linear-gradient(to right,  #2d3b66 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3b66', endColorstr='#000000',GradientType=1 );
	border-radius: 50px;
}
.sop tt{
	font-weight: 900;
}

.recruit{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.recruit .mod_bigtxt,
.recruit .mod_minitxt,
.recruit .mod_midtxt{
	color: #fff;
}
.recruit_txt{
	text-align: left;
	margin-top: 30px;
	line-height: 35px;
}
.recruit_l{
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
	background: url('../images/bg_recruitement.jpg')no-repeat center/cover;
	opacity: 0;
	transform: translateX(-20%);
	transition-duration: 1s;
}
.recruit_r{
	position: relative;
	width: 40%;
	height: 600px;
	background: rgba(0,0,0,.9);
	overflow: hidden;
	opacity: 0;
	transform: translateX(20%);
	transition-duration: 1s;
}
.active .recruit_l,
.active .recruit_r{
	opacity: 1;
	transform: translateX(0);
}
.txtbox{
	text-align: left;
}
.recruit_group{
	display: flex;
	height: 100%;
	flex-direction: column;
	transition-duration: .3s;
}
.recruit_item {
	position: relative;
	top: 0;
	left: 0;
	padding: 0 70px;
	width: 100%;
	height: 100%;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
	flex: none;
	background: url('../images/recruit_pic1.jpg')no-repeat center/cover;
	transition-duration: 1s;
}
.recruit_item:nth-child(2){
	background-image: url('../images/recruit_pic2.jpg');
}
.recruit_item:nth-child(3){
	background-image: url('../images/recruit_pic3.jpg');
}

.recruit_item.active{

}

.recruit_item::before{
	content:'';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,24,41,.9) 0%,rgba(3,0,15,.9) 100%);
	top: 0;
	left: 0;
}

.recruit_item .sop{
	display: inline-flex;
	padding: 10px 40px; 
}
.recruit_item .sop::before{
	content:none;
}
.recruit_dots{
	position: absolute;
	right: 10px;
	bottom: 20px;
}
.recruit_dots li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #fff;
	transition: .2s;
}
.recruit_dots li.on{
	border: 1px solid #f9f8c4;
	background: -moz-linear-gradient(left,  #f9f8c4 40%, #ebd179 83%, #c7915c 100%);
	background: -webkit-linear-gradient(left,  #f9f8c4 40%,#ebd179 83%,#c7915c 100%);
	background: linear-gradient(to right,  #f9f8c4 40%,#ebd179 83%,#c7915c 100%);
}
.recruit_dots li+li{
	margin-top: 10px;
}
.contact {
	position: relative;
	padding:65px 70px 20px;
	background: url('../images/bg_contact.jpg') no-repeat center center/cover;
	text-align: center;
	overflow: hidden;
}
.contact_title,
.contact_note{
	display: inline-block;
	font-size: 32px;
	margin-bottom: 30px;
}
.contact_note{
	color: #fff;
}
.contact_title {
	border: 2px solid #000;
	font-weight: 700;
	padding: 15px 25px;
	opacity: 0;
	transition: transform .6s ease, opacity .6s ease;
}
.contact .mod_minitxt{
	color: #000;
	text-align: center;
	opacity: 0;
	transition: transform .6s ease, opacity .6s ease;
}
.active .contact_title,
.active.contact .mod_minitxt {
	opacity: 1;
}
.input_box{
	position: relative;
	width: 100%;
	padding: 30px 0 20px;
	margin: auto;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.input_box_l,
.input_box_r{
	position: relative;
	width: 45%;
	padding: 0 calc(5% / 2);
}
.inp_txt{
	display: block;
	background: rgba(0,0,0,.8);
	color: #b0b0b0;
	width: 100%;
	height: 50px;
	padding-left: 10px;
	font-size: 16px;
	border-radius: 3px;
}

.mod_select{
	position: relative;
	color:#737373;
}
.mod_select::before{
	content:'\25BE';
	display: block;
	position: absolute;
	line-height: 50px;
	right: 10px;
	font-size: 20px;
}
.mod_select select{
	width: 100%;
	height: 100%;
	color:#737373;
	font-size: 16px;
}
.inp_txt.higger{
	height: calc(100% - 120px);
	padding: 5px 10px;
}
.contact .inp_txt,
.submit_btn{
	opacity: 0;
	transition: transform 1s ease, opacity 1s ease;
}
.contact.active .inp_txt{
	opacity: 1;
}
.inp_txt:nth-child(2),
.inp_txt:nth-child(3),
.inp_txt:nth-child(4),
.inp_txt:nth-child(5),
.input_box_r .inp_txt:nth-child(1),
.submit_btn{transform: translateY(-55px);}

.active .input_box_l .inp_txt:nth-child(2){
	transform: translateY(0);
	transition-delay: .1s;
}
.active .input_box_l .inp_txt:nth-child(3){
	transform: translateY(0);
	transition-delay: .2s;
}
.active .input_box_l .inp_txt:nth-child(4){
	transform: translateY(0);
	transition-delay: .3s;
}
.active .input_box_l .inp_txt:nth-child(5){
	transform: translateY(0);
	transition-delay: .4s;
}
.active .input_box_r .inp_txt:nth-child(1){
	transform: translateY(0);
	transition-delay: .5s;
}
.active .input_box_r .inp_txt:nth-child(2){
	transform: translateY(0);
	transition-delay: .6s;
}
.active .input_box_r .inp_txt:nth-child(3){
	transform: translateY(0);
	transition-delay: .7s;
}
.input_box .inp_txt+.inp_txt{
	margin-top: 10px;
}
.submit_btn{
	width: 100%;
	max-width: 200px;
	height: 50px;
	background: linear-gradient(to bottom,  rgba(235,202,122,1) 0%,rgba(255,255,198,1) 100%);
	margin-top: 40px;
	border-radius: 3px;
	font-size: 21px;
	box-shadow: 0 1px 0 #fff inset, 0 -1px 0 rgba(0,0,0,0.25) inset, 0 17px 12px -12px rgba(0,0,0,0.7);
}
.contact.active .submit_btn,
.login_btn{
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
	animation: submit_bounce 2s infinite linear;
}
@-webkit-keyframes submit_bounce{
	0%, 20%, 53%, 80%, 100% {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translateZ(0);
	}
	40%, 43% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -20px, 0);
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -15px, 0);
	}
	90% {
		transform: translate3d(0, -4px, 0);
	}
}
@keyframes submit_bounce{
	0%, 20%, 53%, 80%, 100% {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translateZ(0);
	}
	40%, 43% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -20px, 0);
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -15px, 0);
	}
	90% {
		transform: translate3d(0, -4px, 0);
	}
}
.method {
	display: flex;
	color: #fff;
	justify-content: center;
	font-size: 13px;
}
.method li:first-child{
	padding-right: 10px;
	border-right: 1px solid #fff;
}

.method li+li{
	position: relative;
	margin-left: 50px;
}
.method li:not(:nth-child(1))::before{
	content:'';
	position: absolute;
	width: 25px;
	height: 25px;
	right: calc(100% + 5px);
	top: 0;
	bottom: 0;
	margin: auto 0;
	vertical-align: middle;
}
.method li:nth-child(2)::before{
	background: url('../images/icon_wechat.svg') no-repeat center/contain;
}
.method li:nth-child(3)::before{
	background: url('../images/icon_skype.svg') no-repeat center/contain;
}
.method li:nth-child(4)::before{
	background: url('../images/icon_mail.svg') no-repeat center/contain;
}
footer{
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
	background: #000;
	color: #fff;
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 11;
	overflow: hidden;
}
.circle_mask{
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: width 1s , height 1s , opacity 1s .3s;
}
.active .circle_mask{
	width: 150vw;
	height: 150vw;
	opacity: 1;
}
@media screen and (max-aspect-ratio: 10/10){
	.active .circle_mask{
		width: 150vh;
		height: 150vh;
		opacity: 1;
	}
}
.loading{
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(4,138,209,1) 0%,rgba(3,0,28,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.load{background: transparent;}

.loading .logo{
	width: 200px;
	height: 88px;
}

.loading .logo::before,
.loading .logo::after{
	width: 41px;
	height: 40px;
	transform: scale(1) rotate(0deg);
}
.loading .logo::before{
	top: 7px;
	left: 24px;
	transform-origin: center;
	animation: logo_star 4s infinite alternate;
}
.loading .logo::after{
	top: 13px;
	left: 141px;
	transform-origin: center;
	animation: logo_star 4s infinite alternate ;
}

@keyframes logo_star{
	0%{
		transform:scale(1) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: scale(.6) rotate(360deg);
		opacity: .5;
	}
}
.loading_box{
	position: relative;
	width: 230px;
	height: 3px;
	border-radius: 50px;
	background: #007aad;
	margin-top: 5px;
}
.load_num{
	display: block;
	color: #2b9ebf;
	font-size: 14px;
}
.loading_bar {
	position: absolute;
	width: 100%;
	height: 5px;
	top: -1px;
	overflow: hidden;
}
.loading_bar span{
	position: absolute;
	width: 50%;
	height: 5px;
	border-radius: 50%;
	background: #007aad;
	transform: translateX(-60%);
	left: 80%;
}
.light_ball{
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	margin: auto 0 ;
	width: 3px;
	height: 1px;
	border-radius: 50%;
	opacity: 1;
	left: 80%;
	box-shadow: 0px 0px 5px 3px #ffffff,
				0px 0px 10px 3px #00ffff,
				0px 0px 13px 5px #00f0fe,
				0px 0px 15px 7px #0090fc,
				0px 0px 20px 13px #006eee;
	animation: loading_bar 5s infinite;
	
}

@keyframes loading_bar{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .7;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: .7;
	}
	100%{
		opacity: 1;
	}
}
.login{
	opacity: 0;
	transition-duration:1s;
}
.login.active{
	opacity: 1;
}

.login_box{
	position: relative;
	width: 100%;
	max-width: 860px;
	display: flex;
	background: #244269;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.8);
}
.login_close_btn{
	position: absolute;
	width: 25px;
	height: 25px;
	background: url('../images/icon_close.svg')no-repeat center/cover;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.login_pic{
	width: 40%;
	height: 580px;
	background: url('../images/pic_login.jpg')no-repeat center/cover;
}
.login_pic .txt{
	width: 45%;
	display: flex;
	margin: 0 auto ;
	flex-wrap: wrap;
	padding-top: 100px;
}
.login_pic .txt .mod_minitxt{
	width: 100%;
	text-align: right;
}
.login_txt{
	width: 60%;
	padding: 80px 75px;
	color: #b5c3c9;
	font-size: 16px;
}
.login_title{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 45px;
	color: #fff;
}
.login_acc,
.login_pwd{
	position: relative;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.8);
	margin-bottom: 35px;
	border-radius: 3px;
}
.login_acc::before,
.login_pwd::before{
	content:'';
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto;
}
.login_acc::before{
	background: url('../images/icon_acc.svg')no-repeat center/contain;
}
.login_pwd::before{
	background: url('../images/icon_pwd.svg')no-repeat center/contain;
}
.login_inp{
	width: 100%;
	height: 100%;
	color: #fff;
	padding-left: 60px;
	font-size: 16px;
}
.login_remember{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 30px;
}
.login_remember input{ display: none; }
.remember_inp{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: rgba(0,0,0,.8);
	margin-right: 8px;
	border-radius: 3px;
}
.login_remember input:checked ~ .remember_inp::before{
	content:'';
	display: block;
	position: absolute;
	width: 10px;
	height: 5px;
	border-width: 2px 2px;
	border-style: none none solid solid;
	border-color: #ffffff #ffffff;
	top: 0;bottom: 0;left: 0;right: 0;
	margin: auto;
	border-radius: 3px;
	transform: rotate(-45deg);	
}
.login_btn{
	width: 100%;
	height: 50px;
	font-size: 18px;
	background: linear-gradient(to right, rgba(255,255,195,1) 40%,rgba(240,213,122,1) 83%,rgba(204,148,92,1) 100%); 
	border-radius: 3px;
	margin-bottom: 30px;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.25) inset, 0 17px 12px -12px rgba(0,0,0,0.7);
	transition: .4s;
}
.login_btn:active{
	background: linear-gradient(to right, rgba(255,255,195,1) 40%,rgba(240,213,122,1) 83%,rgba(204,148,92,1) 100%); 
	box-shadow: 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
}
.login_forgot_btn{
	display: block;
	width: 100%;
	text-align: center;
}
@-webkit-keyframes ani_partner{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes ani_partner{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

/*   */

@media (max-width: 1440px){

	.banner_pic{
		padding-bottom: calc( 55% * 0.84642857);
	}
	.txt_box::after {
		top: 85%;
	}
	.sp_pic {height: 380px;}
	.sp_btn_box{margin-top: 100px;}

	.partner{
		padding:80px 150px 0;
	}
	.list_num{font-size: 46px;}
	.list_txt{font-size: 18px;}
	.partner_ul li{
		padding: 50px 25px 30px;
	}

	.banner_item3 .banner_minitxt{
		width: 45%;
	}

}
@media (max-width: 1280px){

	.sign_txt li.title{
		font-size: 20px;
	}
	.service{
		min-height: auto;
	}
	.partner{
		padding:80px 100px 0;
	}
	.partner_ul li{
		padding: 50px 15px 30px;
	}
	.recruit_l{
		width: 60%;
	}
	.recruit_r{
		width: 40%;
	}
	.recruit_item{
		padding: 35px;
	}
	.recruit_txt{
		margin-top: 20px;
	}

}
@media (max-width: 1024px){
	.menu>li+li {
		padding: 0 12px;
	}
	.menu > li:last-child{
		padding: 0px 18px 0px 32px;
	}
	.banner_item{
		padding-left: 50px;
	}
	.banner_item3 .banner_txtbox{
		padding: 0 50px;
	}
	.product_txt{
		flex: 0 0 45%;
		padding: 0 20px;
	}
	.product_pic{
		flex: 0 0 65%;
	}
	.product_p2{
		top: -60px;
	}
	.product_p3{
		width: 50%;
	}
	.sp_pic{height: 330px;}
	.service{
		padding: 60px 50px 250px;
	}
	.txt_box::before{width: 150px; right: 96%;}
	.txt_box::after{
		top: 95%;
		width: 100px;
	}
	.partner{padding:80px 50px 0;}
	.partner_ul li{padding: 50px 15px 30px;}

	.banner_item2{
		padding-right: 0;
	}
	.banner_item3{
		padding-left: 0;
	}
	.partner_pic li{
		position: relative;
		width: calc( 100% / 6);
		padding-bottom: calc(100% / 6 * 0.22222222);
		margin-bottom: 50px;
	}

}
@media (max-width: 768px){
	.banner_btn{
		bottom: 25%;
	}
	.sign{
		min-height: 500px;
	}
	.sign_info{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		left: 0;
		top: 20%;
	}
	.sign_txt{
		margin: 60px auto 0;
		max-width: 300px;
		height: 120px;
	}
	.sign_txt::before{
		width: 100px;
		top: -55px;
		left: 20px;
	}
	.sign_txt ul{
		line-height: 16px;
	}
	.sign_txt li:not(.title){
		font-size: 12px;
	}
	.sign_txt li.title{
		font-size: 14px;
	}
	.sign_info .mod_midtxt{
		padding-left: 0;
		font-size: 30px;
	}
	
	.login_box{
		height: 100%;
	}
	.login_forgot_btn,
	.login_remember{
		color: #fff;
	}
	.login_txt{
		position: relative;
		width: 100%;
		padding: 80px 30px;
	}
	.login_pic{
		position: absolute;
		width: 100%;
		height: 100%;	
	}
	.login_title{
		margin-bottom: 50px;
	}
	.txt_icon{
		display: none;
	}
	.banner_minitxt{
		line-height: 22px
	}
	.banner_bigtxt{
		margin-bottom: 10px;
	}
	.banner_item{
		align-content: center;
	}
	.banner_item4,
	.banner_item1{
		flex-wrap: wrap;
		padding-left: 0;
		padding-bottom: 50px;
		justify-content: flex-end;
	}
	.banner_item4,
	.banner_item2{
		flex-wrap: wrap-reverse;
		padding-left: 0;
		padding-bottom: 50px;
		justify-content: flex-end;
	}
	.banner_pic{
		width: 100%;
		padding-bottom: calc( 100% * 0.84642857);
	}
	.banner_item3 .banner_pic{
		padding-bottom: calc( 70% * 0.84642857);
	}
	.banner_item2{
		padding-top: 50px;
		background: url('../images/bg_banner03.jpg')no-repeat right top/contain;
	}
	.banner_item2 .banner_pic{
		padding-bottom: calc( 80% * 0.84642857);
	}
	
	.banner_txtbox{
		width: 100%;
		padding: 0px 70px;
	}
	img.pic_peopel1{
		height: 85%;
		top: 30%;
		right: 25%;
	}
	.active.banner_item4 .pic_peopel1{
		top: 15%;
	}
	img.pic_peopel2{
		top: 0;
		height: 70%;
	}
	.active.banner_item4 .pic_peopel2{
		right: 55%;
	}
	img.pic_peopel3{
		top: 10%;
		height: 80%;
	}
	.active.banner_item4 .pic_peopel3{
		right: 0;
	}
	img.pic_peopel4{
		top: 9%;
		left: 28%;
		height: 85%;
	}
	.active.banner_item4 .pic_peopel4{
		top: -18%;
	}
	.banner_item4 .banner_txtbox{
		padding: 50px 70px;
	}
	.banner_item1{
		padding-right: 0;
		background: url(../images/bg_banner02.jpg)no-repeat left center / contain;
	}
	.banner_item2 .banner_txtbox{
		width: 100%;
		max-width: none;
	}
	.banner_item3{
		background: url('../images/bg_banner04.jpg')no-repeat center / cover;
	}
	.banner_item3 .banner_txtbox{
		flex-direction: column;
		align-items: flex-start;
		margin-top: 20px;
	}
	.banner_item3 .banner_minitxt{
		width: 100%;
	}

	.pic_cell02{
		left: 34%;
		transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
		transition-delay: .3s;
	}
	.pic_cell03{
		right: 34%;
		transition: all 500ms cubic-bezier(0.55, 0, 0.42, 1) 0s;
		transition-delay: .3s;
	}
	.banner_item3.active .pic_cell02{
		left: 15%;
	}
	.banner_item3.active .pic_cell03{
		right: 15%;
	}
	.txt_box::before,
	.txt_box::after,
	.lang_txtbox tt::before,
	.lang_txtbox tt:last-child::after{display: none;}

	.title{
		font-size: 21px;
	}
	.menu_btn{
		position: relative;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		z-index: 10;
	}
	.menu_btn i{
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		background: #fff;
		z-index: 1;
		transition-duration: .3s;
	}
	.menu_btn i::before{
		content:'';
		display: block;
		width: calc(100% - 10px);
		height: 2px;
		background: #fff;
		position: relative;
		top: calc(100% + 5px);
		left: 0;
		transition-duration: .3s;
	}
	.menu_btn i::after{
		content:'';
		display: block;
		width: 100%;
		height: 2px;
		background: #fff;
		position: relative;
		bottom: calc(100% + 7px);
		left: 0;
		transition-duration: .3s;
	}

	.menu_btn.active i{
		background: transparent;
	}
	.menu_btn.active i::before{
		width: 100%;
		top: 0;
		transform: rotate(-45deg) translateY(50%);
	}
	.menu_btn.active i::after{
		bottom: 0;
		transform: rotate(45deg) translateY(-50%);
	}
	.menu_btn.active ~ .menu_panel{
		right: 0;
	}

	.menu_panel{
		position: fixed;
		width: 40%;
		height: 100vh;
		top: 0;
		right: -100%;
		background: rgba(0,0,0,.9);
		transition-duration: .3s;
	}
	.menu{
		flex-direction: column;
		align-items: flex-start;
	}
	.menu > li:not(:nth-child(1)){
		width: 100%;
		height: 50px;
		padding: 10px 30px;
		line-height: 30px;
		color: #979797;
		font-size: 20px;
	}
	.menu li.on{
		color:#fff;
	}
	.menu > li:not(:nth-child(1)):hover,
	.second_menu>li:hover{
		color: #fff;
		background: rgba(255,255,255,.2);
	}
	.menu li.logo_title{
		display: list-item;
		height: 60px;
		margin: 15px 0 30px;
	}

	.menu>li+li,
	.menu>li:last-child{margin-left: 0;}

	.lang_title{display: block;}
	.menu>li:last-child span{
		display: flex;
		justify-content: space-between;
	}
	.second_menu{
		width: 100%;
		left: 0;
		text-align: center;
		color: #979797;
		border:none;
		background: transparent;
	}

	.second_menu > li{
		font-size: 18px;
	}
	.product{padding-top: 80px;}
	.product_inf{
		width: 100%;
		flex-direction: column;
		padding: 0 0 30px 0;
	}
	.product_txt{
		width: 100%;
		padding: 0 70px;
	}
	.product_pic{
		position: relative;
		width: 100%;
		padding-bottom: calc(100% * 0.43515038);
		margin-top: 35px;
	}
	.product_p1{
		top:auto;
		margin: 0;
		left: 20px;
	}
	
	.product_p2{
		top:-15px;
		left: 20px;
	}
	.product_p3{
		top:auto;
		margin: 0;
		right: -20px;
	}
	
	.partner_ul{
		flex-wrap: wrap;
		justify-content: center;
	}
	.partner_ul li{
		width: calc(100% / 2 - 4%);
		margin: 0 2% 50px;
	}

	.sp_btn_box{
		justify-content: center;
		order: 3;
		margin-top: 50px;
	}
	.game_list li{
		flex: 0 0 45%;
		padding-bottom: calc( 45% * 1.00985222);
	}
	
	.game_list li::before{
		background-size: 80%;
	}
	.method{
		font-size: 14px;
	}
	.product_txt .mod_midtxt,
	.service .mod_midtxt{
		margin-bottom: 10px;
	}
	.service{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 0 200px;
	}
	.txt_box{
		padding: 20px 100px 60px;
		width: 100%;
	}
	.service_pic{
		position: relative;
		width: 100%;
		height: 500px;
	}

	.list_num{
		padding-bottom: 30px;
	}
	.list_txt{
		display: none;
	}
	.partner_pic {
		padding: 0;
	}
	.partner_pic li{
		position: relative;
		width: calc( 100% / 4);
		padding-bottom: calc(100% / 4 * 0.22222222);
		margin-bottom: 50px;
	}
	.contact{
		padding: 65px 0 20px;
	}


	.recruit_l .mod_bigtxt{
		font-size: 45px;
	}
	.recruit_l .mod_midtxt{
		font-size: 30px;
	}
	
	.recruit_l,
	.recruit_r{
		width: 100%;
		height: 300px;
	}
	.recruit_item{
		padding: 30px 100px;
	}
	.recruit_dots {
		display: flex;
		width: 100%;
		right: 0;
		justify-content: center;
	}
	.recruit_dots li+li{
		margin-top: 0;
		margin-left: 10px;
	}
	.input_box_l, .input_box_r{
		width: 100%;
		padding: 0 80px;
	}
	.input_box_r{
		margin-top: 40px;
	}
	.inp_txt.higger{
		height: 200px;
		
	}
}
@media (max-width: 576px){

	.banner_txtbox,
	.banner_item4 .banner_txtbox,
	.banner_item3 .banner_txtbox{
		padding: 0 30px;
	}
	.mod_midtxt,
	.banner_bigtxt{
		font-size: 28px;
	}
	.product_txt{
		padding: 0;
	}
	.product{
		padding-top: 50px;
	}
	.txt_box{padding: 0 30px 65px; }
	.partner_pic{
		margin-top: 30px;
	}
	.partner{
		padding: 50px 15px 0;
	}
	.service{
		padding: 0 0 150px;
	}
	.sp_btn_box{bottom: 0;}
	.sp_btn{width: 100%;}
	.sp_btn+.sp_btn{margin-left: 0;}

	.contact{
		padding: 65px 20px 20px;
	}

	.method{
		font-size: 12px;
		flex-direction: column;
		align-items: center;
	}
	.method li{
		height: 30px;
		align-items: center;
		line-height: 30px;
	}
	.sp_btn{padding: 10px 5px;}
	.zh_txt{
		font-size: 20px;
	}
	.product_txt{
		padding: 0 30px;
	}

	.menu_panel{width: 100%;}
	.method li+li{margin-left: 0;}
	.method li:first-child{border-right: none;}

	.sp_btn{
		border-radius: 0;
	}
	.partner_pic{
		margin-top: 50px;
		padding: 0 15px;
	}
	.partner_pic li{
		margin-bottom: 30px;
	}

	.partner_pic img:nth-child(2){
		transform: translateX(0);
	}
	.partner_pic img:nth-child(3){
		float: left;
	}
	.partner_pic img:nth-child(3),
	.partner_pic img:nth-child(4){
		width: 50%;
	}
	.txt_box{
		padding: 0 30px;
	}
	.input_box_l, .input_box_r{
		padding: 0 10px;
	}
	.recruit_item{
		padding: 40px;
	}

}

@media (max-width: 414px){
	/* .product_pic{height: 200px;} */
	.icon_btn{
		width: 30px;
		height: 20px;
	}
	.start_box span:nth-child(2n){
		display: none;
	}
	.sp_btn_box{
		margin-top: 50px;
	}
	.service_pic{
		height: 260px;
		background-size: 80%;
	}
	.service_pic::after{
		background-size: 80%;
	}
}

@media (max-width: 360px){

	.txt_icon li{
		width: 45px;
		height: 45px;
	}
	.partner_pic li{
		position: relative;
		width: calc( 100% / 2);
		padding-bottom: calc(100% / 2 * 0.22222222);
		margin-bottom: 50px;
	}

	
}

@media (max-width: 320px){

	.product_txt{
		padding: 0 15px 30px;
	}

	.product_pic{
		height: 150px;
	}
	.banner_bigtxt{
		margin-bottom: 5px;
	}
	.banner_txtbox, 
	.banner_item4 .banner_txtbox, 
	.banner_item3 .banner_txtbox{
		padding: 0 15px;
	}
}


@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

	.banner_dots li:not(.on):hover{
		background: #fff;
		box-shadow: 0px 0px 2px 1px rgba(7, 135, 227,0.6),
					0px 0px 4px 3px rgba(7, 135, 227,0.4);
	}
	.game_btn:hover{
		box-shadow: 0px 0px 2px 1px rgba(7, 135, 227,0.6),
					0px 0px 4px 3px rgba(7, 135, 227,0.4),
					inset 0px 0px 2px 1px rgba(7, 135, 227,0.6),
					inset 0px 0px 4px 3px rgba(7, 135, 227,0.4);
	}
	.sp_btn:nth-child(2):hover{
		box-shadow: 0px 0px 2px 1px rgba(255, 255, 255,0.6),
		0px 0px 6px 2px rgba(255, 255, 255,0.4),
		inset 0px 0px 2px 1px rgba(255, 255, 255,0.6),
		inset 0px 0px 6px 2px rgba(255, 255, 255,0.4);
		border:1px solid white;
	}
	.sp_btn:hover > .btn_inf{
		transform: scale(1.1);
	}

	.menu > li:hover:after{
		width: 100%;
		opacity: 1;
	}
	.contact.active .submit_btn:hover,
	.login_btn:hover{
		background: linear-gradient(to bottom,  rgb(205, 181, 125) 0%,rgba(255,255,198,1) 100%);
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
		box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
		animation: none;
	}
	.game_list li:hover{
		background-size: 120%
	}
	.game_list li:hover::before{
		opacity: 1;
	}
	.partner_ul li:hover{
		bottom: 20px;
	}
	.partner_ul li:hover::after{
		background-size: 60%;
	}
}
.banner_dots li:not(.on):active{
	background: #fff;
	box-shadow: 0px 0px 2px 1px rgba(7, 135, 227,0.6),
				0px 0px 4px 3px rgba(7, 135, 227,0.4);
}
.game_btn:active{
	box-shadow: 0px 0px 2px 1px rgba(7, 135, 227,0.6),
				0px 0px 4px 3px rgba(7, 135, 227,0.4),
				inset 0px 0px 2px 1px rgba(7, 135, 227,0.6),
				inset 0px 0px 4px 3px rgba(7, 135, 227,0.4);
}
.businese_btn:active{
	box-shadow: 0px 0px 2px 1px rgba(255, 255, 255,0.6),
				0px 0px 6px 2px rgba(255, 255, 255,0.4),
				inset 0px 0px 2px 1px rgba(255, 255, 255,0.6),
				inset 0px 0px 6px 2px rgba(255, 255, 255,0.4);
	/* border:1px solid white; */
}

.menu > li:active:after{
	width: 100%;
	opacity: 1;
}
.contact.active .submit_btn:active
.login_btn:active{
	background: linear-gradient(to bottom,  rgb(205, 181, 125) 0%,rgba(255,255,198,1) 100%);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
	box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
	animation: none;
}
.game_list li:active{
	background-size: 120%
}
.game_list li:active::before{
	opacity: 1;
}
.submit_btn:active,
.login_btn:active{
	background: linear-gradient(to bottom,  rgb(205, 181, 125) 0%,rgba(255,255,198,1) 100%);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
	box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset, 0 -1px 0 rgba(255,255,255,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4), 0 1px 3px 1px rgba(0,0,0,0.6);
}
.partner_ul li:active{
	bottom: 20px;
}
.partner_ul li:active::after{
	background-size: 60%;
}